/* line 27, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"],
body a[href^="mailto:"],
body a[href^="http:"]:visited,
body a[href$=".pdf"],
body a[href$=".doc"],
body a[href$=".xls"],
body a[href$=".rss"],
body a[href$=".rdf"],
body a[href^="aim:"] {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 28, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"] {
  background-image: url('/images/link_icons/external.png');
}
/* line 29, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="mailto:"] {
  background-image: url('/images/link_icons/email.png');
}
/* line 30, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"]:visited {
  background-image: url('/images/link_icons/visited.png');
}
/* line 31, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".pdf"] {
  background-image: url('/images/link_icons/pdf.png');
}
/* line 32, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".doc"] {
  background-image: url('/images/link_icons/doc.png');
}
/* line 33, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".xls"] {
  background-image: url('/images/link_icons/xls.png');
}
/* line 35, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".rss"],
body a[href$=".rdf"] {
  background-image: url('/images/link_icons/feed.png');
}
/* line 36, /Users/dimroc/.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="aim:"] {
  background-image: url('/images/link_icons/im.png');
}
/* line 8, link_icons.sass */
body a.noicon {
  background: transparent none !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 12, link_icons.sass */
body a#this-is-a-pdf-link {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/pdf.png');
}
