/* line 9, style.sass */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white;
}

/* line 12, style.sass */
a {
  color: #00b7ff;
  text-decoration: none;
}

/* line 16, style.sass */
p {
  padding: 5px;
  display: block;
  margin-left: 4px;
}

/* line 21, style.sass */
h4 {
  margin: 0px;
  padding: 0px;
}

/* line 25, style.sass */
div {
  position: relative;
}

/* line 28, style.sass */
.header {
  background: white;
}

/* line 31, style.sass */
#content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 650px;
}

/* line 36, style.sass */
#editor {
  position: relative;
  clear: left;
  height: 600px;
}

/* line 41, style.sass */
#collab_info {
  position: relative;
}
/* line 43, style.sass */
#collab_info li {
  margin-left: 10px;
  color: #444444;
}

/* line 47, style.sass */
#collab_code {
  position: relative;
  visibility: hidden;
}

/* line 51, style.sass */
#lock {
  position: relative;
  cursor: pointer;
  clear: both;
  padding: 10px;
}

/* line 57, style.sass */
#lock_info {
  float: left;
  width: 150px;
}

/* line 63, style.sass */
#mode_panel {
  position: relative;
}

/* line 66, style.sass */
#user_panel {
  maxheight: 100px;
  width: 150px;
  overflow: auto;
  float: left;
  vertical-align: top;
}

/* line 74, style.sass */
#info_panel {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 650px;
}

/* line 78, style.sass */
#lock_description {
  position: relative;
  float: left;
  width: 300px;
  margin: 25px;
}

/* line 85, style.sass */
.opened {
  width: 50;
  height: 50;
  background-image: url('/images/open_lock.jpg?1314575227');
}

/* line 91, style.sass */
.locked {
  width: 50;
  height: 50;
  background-image: url('/images/closed_lock.png?1314575227');
}
