@import "blueprint/fancy-type"
@import blueprint/buttons
@import blueprint/grid
@import blueprint/scaffolding
@import blueprint

$content_width: 650px

body
  :font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  :background white
a
  :color #00B7FF
  :text-decoration none

p
  :padding 5px
  :display block
  :margin-left 4px

h4
  :margin 0px
  :padding 0px

div
  :position relative

.header
  :background white

#content
  @include container
  :position relative
  :width $content_width

#editor
  :position relative
  :clear left
  :height 600px

#collab_info
  :position relative
  li
    :margin-left 10px
    :color #444444

#collab_code
  :position relative
  :visibility hidden

#lock
  :position relative
  :cursor pointer
  :clear both
  :padding 10px

#lock_info
  :float left
  :width 150px

#current_editor

#mode_panel
  :position relative

#user_panel
  //:display inline
  :maxheight 100px
  :width 150px
  :overflow auto
  :float left
  :vertical-align top

#info_panel
  @include container
  :width $content_width

#lock_description
  :position relative
  :float left
  :width 300px
  //:margin 0px 35px 0px 20px
  :margin 25px

.opened
  :width 50
  :height 50
  :background
    :image image_url("/images/open_lock.jpg")

.locked
  :width 50
  :height 50
  :background
    :image image_url("/images/closed_lock.png")
    
