@import "blueprint/fancy-type"
@import blueprint/buttons
@import blueprint/grid
@import blueprint/scaffolding
@import blueprint/typography
@import blueprint

@include blueprint-typography-defaults

$content_width: 750px

body
  @include blueprint-typography
  :font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  :background white
  @include normal-text

a
  :color #00B7FF
  :text-decoration none

p
  @include normal-text
  :padding 5px
  :display block
  :margin-left 4px

h4
  @include quiet
  :margin 0px
  :padding 0px

div
  :position relative

.header
  :background white

#content
  @include container
  :position relative
  :width $content_width

#editor
  :position relative
  :clear left
  :height 600px

#editing_notice
  @include loud
  :color red

#collab_info
  @include quiet
  :position relative
  li
    :margin-left 10px
    :color #444444

#collab_code
  :position relative
  :visibility collapse

#lock
  :position relative
  :cursor pointer
  //:clear both
  :float left
  :padding 10px

#lock_info
  :float left
  :width 550px

#current_editor
  @include quiet

#mode_panel
  :position relative
  :clear both

#user_panel
  @include quiet
  //:display inline
  :width 160px
  :overflow auto
  :float left
  :vertical-align top

#user_list
  :height 80px
  :overflow auto

#info_panel
  @include container
  :width $content_width

#lock_description
  :position relative
  :float left
  :width auto
  //:margin-top 25px

.lock_icon:hover
  //:background gray

.opened
  :width 50
  :height 50
  :background
    :image image_url("/images/open_lock.jpg")

.locked
  :width 50
  :height 50
  :background
    :image image_url("/images/closed_lock.png")

.lock_button
  :height 80px
  :width 65px
